#ignore object files
*.o
#ignore Gaussian cube files
*.cube
#ignore Apple internal filesystem stuff
.DS_Store
#ignore DSYM archives
*.dSYM
#ignore .greg files (I am not sure what they are, though - JTC)
*.greg
#ignore pbs output files
*.o*
#ignore testing folder
Testing/
